<div class="modal-body">
    <form [formGroup]="inventarioInfo">

       <div class="d-flex flex-wrap">
        <div class="box_imgprev">
            <label for="file" class="label_file">
                <input  
                formControlName="imgprev"
                class="input_file"
                type="file" 
                (change)="changeListener($event)"
                multiple #input/>
            </label>
            <img 
            id="file" 
            [src]="editarForm.img != '' ? editarForm.img : 
                    imgprev"
            [src]="imgprev == '' ? imgprev : 
                    imgprev"
            class="img_input" 
            alt="">
        </div>
        <div class="d-flex flex-wrap flex-column box_form">
    	  	<div class="col-sm px-0">
                <label for="name" class="mb-0 label_font">Nombre del equipo: </label>
    	    	<input
                formControlName="nombre_del_equipo"
                [value]="editarForm.nombre"            
                class="form-control mt-1 mb-2"  
                type="text" 
                placeholder="Nombre del equipo"
                id="name"      
                >
    	    </div>
    		<div class="form-group col-sm px-0 mb-0">
                <label for="descripcion" class="mb-0 label_font">Descripción: </label>
    		    <textarea  
                formControlName="descripcion"
                [value]="editarForm.descripcion" 
                class="form-control mt-1 mb-2 textarea" 

                placeholder="Descripción" 
                id="descripcion" 
                rows="3"></textarea>
    		</div>
        </div>
        <div class="col-12 px-0">
            <label for="consumo" class="mb-0 label_font">Consumo Energetico: </label>
        	<input 
            formControlName="consumo_energetico"
            (keypress)="keyPress($event)"
            [value]="editarForm.energia"
            type="number" 
            pattern="[0-9]*"
            min="0" 
            class="form-control mt-1 mb-2" 
            placeholder="Consumo electrico"
            id="consumo"
            >
        </div>
        <div class="col-6 pl-0">
            <label for="peso" class="mb-0 label_font">Peso: (Kg)</label>
        	<input
            formControlName="pesoKg" 
            (keypress)="keyPress($event)" 
            type="number" 
            [value]="editarForm.pesokg"
            pattern="/sol"
            min="0"
            inputmode="numeric"  
            class="form-control mt-1 mb-2" 
            placeholder="Peso kg"
            id="peso"
            >
        </div>
        <div class="col-6 pr-0">
            <label for="anchura" class="mb-0 label_font">Anchura: (Cm)</label>
        	<input 
            formControlName="anchoCm"
            [value]="editarForm.ancho"
            (keypress)="keyPress($event)" 
            type="number" 
            pattern="/sol"
            min="0"
            class="form-control mt-1 mb-2" 
            placeholder="Anchura cm"
            id="anchura" 
            >
        </div>
        <div class="col-6 pl-0">
            <label for="largo" class="mb-0 label_font">Largo: (Cm)</label>
        	<input
            formControlName="largoCm" 
            [value]="editarForm.largo"
            (keypress)="keyPress($event)" 
            type="number" 
            pattern="/sol"
            min="0" 
            class="form-control mt-1"
            placeholder="largo cm"
            id="largo"
            >
        </div>
        <div class="col-6 pr-0">
            <label for="altura" class="mb-0 label_font">Altura: (Cm)</label>
        	<input 
            formControlName="alturaCm"
            [value]="editarForm.altura"
            (keypress)="keyPress($event)" 
            type="number" 
            pattern="/sol"
            min="0"  
            class="form-control mt-1" 
            placeholder="altura cm"
            id="altura"
            >
            <input 
            formControlName="check"
            type="checkbox" 
            class="d-none" 
            >
        </div>
      </div>
     
    </form>
</div>
<div class="modal-footer" *ngIf="!editarForm.activar_btn">
    <button type="button" class="btn btn_primary" data-dismiss="modal" (click)="guardar()">Registrar</button>
</div>
<div class="modal-footer" *ngIf="editarForm.activar_btn">
    <button type="button" class="btn btn-warning" data-dismiss="modal" (click)="enviarEditado()">Editar</button>
</div>